<h1 class="title title-page" id="title-page">Редактирование категории</h1>
<form class="form">
    <div class="mb-3">
        <label for="nameCategory" class="form-label d-none">Название категории</label>
        <input type="text" class="form-control" id="nameCategory" placeholder="Название...">
        <div id="nameCategory-error" class="invalid-feedback mb-3">Введите название категории</div>
    </div>
    <div class="mt-1 d-flex gap-2">
        <button type="button" class="btn btn-success" id="buttonCategorySave">Сохранить</button>
        <button type="button" class="btn btn-danger" id="buttonCategoryCanceled">Отмена</button>
    </div>
</form>
