<h1 class="title title-page pb-3">Главная</h1>
<div class="dashboard">
    <div class="toolbar d-flex align-items-center flex-wrap" id="toolbar-period">
        <input type="radio" class="btn-check" name="period" value="today" id="today" autocomplete="off" checked>
        <label class="btn btn-outline-secondary toolbar-item" for="today">Сегодня</label>

        <input type="radio" class="btn-check" name="period" value="week" id="week" autocomplete="off">
        <label class="btn btn-outline-secondary toolbar-item" for="week">Неделя</label>

        <input type="radio" class="btn-check" name="period" value="month" id="month" autocomplete="off">
        <label class="btn btn-outline-secondary toolbar-item" for="month">Месяц</label>

        <input type="radio" class="btn-check" name="period" value="year" id="year" autocomplete="off">
        <label class="btn btn-outline-secondary toolbar-item" for="year">Год</label>

        <input type="radio" class="btn-check" name="period" value="all" id="all" autocomplete="off">
        <label class="btn btn-outline-secondary toolbar-item" for="all">Все</label>

        <div class="block-range d-flex align-items-center">
            <input type="radio" class="btn-check" name="period" value="interval" id="interval" autocomplete="off">
            <label class="btn btn-outline-secondary toolbar-item" for="interval">Интервал</label>

            <div class="range d-flex align-items-center" id="range-date">
                <label class="range-label" for="range-with">с</label>
                <input type="text" class="btn range-item me-3" id="range-with" placeholder="Дата">

                <label class="range-label" for="range-by">по</label>
                <input type="text" class="btn range-item me-3" id="range-by" placeholder="Дата">
            </div>

        </div>
    </div>
    <div class="charts d-flex justify-content-evenly align-items-end gap-2 flex-wrap">
        <div class="chart-item d-flex flex-column align-items-center">
            <h2 class="title chart-title">Доходы</h2>
            <div class="chart-container">
                <canvas id="chart-income"></canvas>
            </div>
        </div>
        <div class="separator"></div>
        <div class="chart-item d-flex flex-column align-items-center">
            <h2 class="title chart-title">Расходы</h2>
            <div class="chart-container">
                <canvas id="chart-expenses"></canvas>
            </div>
        </div>
    </div>
</div>
